<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for AillieoTech" Description="Code analysis rules for AillieoTech." ToolsVersion="1.0">
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA2008" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
  </Rules>
</RuleSet>
